.about {
    height: 1065px;
    &_content {
        display: flex;
        margin-top: 140px;
        width: 1300px;justify-content: space-between;
    }
    &_descr {
        width: 700px;
        height: 700px;
        margin-left: 80px;
        &_title {
            font-family: Rosario;
            font-weight: 700;
            font-size: 70px;
            line-height: 90px;
            letter-spacing: 1px;
            text-align: center;
        }
        &_text {
            width: 637px;
            margin-top: 20px;
            font-family: DM Sans;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 1px;

        }
        &_item {
            width: 384px;
            display: flex;
            justify-content: space-between;
            margin-left: 60px;
            margin-top: 57px;
        }

        &_pic {
            width: 80px;
            height: 80px;
            border-radius: 40px;
            background-color: #def6ed;
        }
        &_img {
            margin-left: 20px;
            margin-top: 20px;
        }

        &_info {
            margin-left: 24px;
            width: 280px;
            font-family: DM Sans;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            span {
                font-weight: 700;
                font-size: 20px;
                line-height: 30px;
            }

        }
    }

    &_picture {
        width: 585px;
        &_man {
            position: relative;
            top: 200px;
            left: 83px;
            z-index: +5;
            cursor: pointer;
        }
        &_round {
            position: relative;
            top: -145px;
            left: 60px;
            z-index: -1;
            
        }
        &_ellipse {
            position: relative;
            top: -660px;
            left: 180px;
            
        }
        &_salad {
            position: relative;
            width: 610px;
            top: 180px;
            display: none;
        }

        
    }
    
}

.about_picture_man.active, .about_picture_round.active, .about_picture_ellipse.active {
    display: none;
}

.about_picture_salad.active {
    display: inline-block;
}

