@media (max-width: 1440px) {
    .container {
        margin-left: 0px;
        width: 1300px;
    }
    .header {
        margin-left: 30px;
        width: 1200px;
    }
    .promo {
        &__content {
            margin-left: 0px;
        }
        &_wrapper {
            width: 1200px;
        }

    }
}

@media (max-width: 1330px) {
    .container {
        margin-left: 0px;
        width: 100%;
    }
    .header {
        margin-left: 0px;
        width: 100%;
    }
    .promo {
        width: 100%;
        &_title {
            margin-top: 65px;
            font-size: 65px;
            margin-bottom: 40px;
        }
        &_text {
            font-size: 16px;
            margin-top: 0px;
        }
        &_fruts {
            margin: 0 auto;
            img {
                width: 800px;
            }
        }
        &_order {
            margin-top: 30px;
        }
        &_wrapper {
            margin: 0 auto;
            margin-top: 10px;
            width: 1150px;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        padding-top: 25px;
        width: 98%;
        &_menu_item {
            margin-top: 16px;
            font-size: 16px;
        }
        &_logo {
            img {
                width: 45px;
            }
        }
        &_search {
            img {
                width: 20px;
                height: 20px;
            }
        }
        &_basket {
            img {
                width: 35px;
                margin-top: 5px;
            }
        }
        &_btn {
            width: 130px;
            height: 40px;
        }               
    }
    
    .promo {
        &_title {
            margin-top: 50px;
            font-size: 55px;
            margin-bottom: 20px;
            line-height: 70px;
        }
        &_fresh {
            img {
                width: 450px;
                height: 300px;
            }
        }
        &_wrapper {
            width: 900px;
            grid-template-columns: 600px 250px;
            grid-template-rows: 108px 108px 108px;
        }
        &_fruts {
            img {
                width: 600px;
                height: 323px;
            }
        }
        &_text {
            margin-top: 5px;
        }
        &_order {
            margin-top: 15px;
            width: 160px;
        }
        &_order_text {
            font-size: 16px;
            margin-top: 10px;
        }
        &_order_img {
            border-radius: 26px;
            width: 52px;
            height: 52px;
            img {
                margin-top: 17px;
                margin-left: 11px;
                width: 60%;
            }
        }
        &_user {
            margin-top: 10px;
            width: 170px;
            height: 90px;
            grid-template-columns: 70px 100px;
            grid-template-rows:  45px 45px;
        }
        &_user_icon {
            img {
                width: 40px;
            }
        }
        &_user_quantity {
            font-size: 36px;
        }  
        &_user_order {
            font-size: 15px;
            margin-top: 7px;
            line-height: 20px;
        } 
    }
}

@media (max-width: 992px) {
    .header {
        &_logo {
            margin-left: 10px;
            margin-top: 5px;
            img {
                width: 40px;
            }
        }
        &_basket {
            img {
                width: 30px;
            }
        }
        &_search {
            img {
                width: 18px;
                height: 18px;
            }
        }
        &_item_tools {
            width: 240px;
        }
        &_menu {
            width: 330px;
        }
    }
    .promo {
        &_title {
            margin-top: 30px;
            font-size: 40px;
            margin-bottom: 15px;
            line-height: 50px;
        }
        &_text {
            font-size: 14px;
            
        }
        &_fresh {
            display: none;
        }
        &_order {
            
            width: 135px;
        }
        &_order_img {
            border-radius: 20px;
            width: 40px;
            height: 40px;
            img {
                margin-top: 15px;
                margin-left: 10px;
                width: 53%;
            }
        }
        &_order_text {
            margin-top: 5px;
        }
        &_wrapper {
            width: 740px;
            grid-template-columns: 500px 220px;
            grid-template-rows: 100px 100px 100px;
        }
        &_fruts {
            img {
                width: 500px;
                height: 300px;
            }
        }
        &_user {
            width: 170px;
            height: 90px;
            grid-template-columns: 50px 100px;
            grid-template-rows:  45px 45px;
        }
        &_user_icon {
            img {
                width: 40px;
            }
        }
        &_user_quantity {
            font-size: 28px;
                 
        }
        &_user_order {
            font-size: 14px;
        }
    }
}



@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

